@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-inter {
      font-family: Inter, sans-serif;
    }
}

@layer components {
  body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.06' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }

  .animation-target {
    opacity: 0;
    transform: translateY(30px);
  }

  .feature-pic {
    height: 130px;
  }
}